
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo */
body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #ffeaff;
  color: #333;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #ff91e1;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}

nav h1 {
  color: #fff;
  font-size: 1.8em;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  background-color: #ffb3f7;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #ff6fd8;
}


main h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

main p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.juego-btn {
  display: inline-block;
  padding: 15px 25px;
  background-color: #ffbefa;
  color: #000;
  text-decoration: none;
  border-radius: 25px;
  font-size: 1.2em;
  transition: transform 0.2s, background-color 0.3s;
}

.juego-btn:hover {
  transform: scale(1.05);
  background-color: #ff9fe5;
}